**/node_modules
**/.DS_Store
npm-debug.log*

#Added by cargo
/target
Cargo.lock

# addon
**/*.node

# used in typedoc
# /addon.js
# /addon.d.ts

# ts
**/*.tsbuildinfo
/lib

# test
coverage
.nyc_*
test/fixtures/*
!test/fixtures/sample-videos/
test/fixtures/sample-videos/*
!test/fixtures/sample-videos/sample.mp4

# typedoc
/docs

/.vscode/settings.json
